name: Issue Check

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: |
          mkdir tmp
          for url in $(curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
                       -H "Accept: application/vnd.github.v3+json" \
                       https://api.github.com/repos/HiromiShikata/automation-config/contents/tdpm | \
                       jq -r '.[].name'); do
            curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
                 -H "Accept: application/vnd.github.v3+json" \
                 "https://api.github.com/repos/HiromiShikata/automation-config/contents/tdpm/$url" | \
            jq -r '.content' | base64 -d > "tmp/$url"

            npx github-issue-tower-defence-management -t schedule -c "tmp/$url" -v &> /dev/null &
          done
          wait
